html, body {
    margin:0;
    padding:0;
    background: black;
    max-height:700px;
}

#container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding-top:40px;
}
#container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding-bottom:40px;
    margin-top: 10px;
}

#img-el{
    width:auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    height:100px
    
}

h1{
    color:white;
    text-align: center;
    font-size: 25px
    
}

#input-el{
    width:350px;
    height:100px;
    margin-bottom:20px;
    padding:10px;
    border-radius: 5px;
    border:none;
    text-align: center;
    background: #44405a;
    color: white;
}

#btn-el{
    background:#02acf6;
    border:none;
    width:370px;
    height:70px;
    border-radius: 5px;
    padding:0;
    margin-bottom: 20px;
    
}

h2{
    color:white;
    margin:0
}

li{
    background: white;
    height:70px;
    width:350px;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
} 
ul{
    padding:0;
    margin:0;
}